<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logged Out</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>

<hr class="border border-danger border-2 opacity-50">

<h1 class="d-flex justify-content-center">You have successfully logged out</h1>

<hr class="border border-primary border-3 opacity-75">

<a class="d-flex justify-content-center" th:href="@{/login}">Log In</a>

</body>
</html>